	#all{
		width: 25%;
		position: fixed;
		bottom: 0;
		right: 20px;
		border: 1px solid #075384;
		border-radius: 10px;
		
	}
	
	#header{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: "Arial", sans-serif;
		color: white;
		background-color: #075384;
		text-align: center;
		font-size: 14px;
	}
	
	#messages{

		font-family: "Arial", sans-serif;
		background-color: white;
		color: black;
		font-size: 14px;
		overflow-x: scroll;
		overflow-x: hidden;
		max-height: 200px;
		height: 200px;
		padding-left: 10px;
		padding-right: 10px;
		
	}
	
	#youPara{
		text-align: left;
		border: 1px solid black;
		border-radius: 50px;
		background-color: #075384; 
		float: right;
		width: 50%
		
	}
	#botPara{
		text-align: left;
		border-radius: 25px;
		border: 2px solid black;
		background-color: gray; 
		padding-left: 10px;
		width: 50%;
		
	}
	
	#input{
		margin-top: 0px;
		margin-bottom: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
		font-family: "Arial", sans-serif;
		color: white;
		/*background-color: #075384;*/
		text-align: center;
		font-size: 14px;
		
	}
	
	
