
	
	#header{
		font-family: "Arial", sans-serif;
		color: white;
		background-color: #075384;
		text-align: center;
		font-size: 14px;
	}
	
	#messages{
		font-family: "Arial", sans-serif;
		background-color: white;
		color: white;
		font-size: 14px;
	}
	
	#input{
		font-family: "Arial", sans-serif;
		color: white;
		background-color: #075384;
		text-align: center;
		font-size: 14px;
	}
	
	
